body {
  margin:0;
  background-color: white;
  color:black;
}

h1 {
  margin-left:1rem;
}

.container {
  background-color: white;
  padding-top:1rem;
  width:100vw;
  height:100vh;
}


.draggable {
  margin-left: 1rem;
  padding: 0.8rem;
  margin-top:0.3rem;
  background-color: white;
  cursor: move;
  width:90%;
  display:flex;
  align-items:center;

}


.draggable input[type=text] {
  padding:0.5rem;
  width:95%;
  outline:none;
  border:none;
  font-size:medium;
}

.draggable input[type=text]:focus {
  border: .5px solid grey;
}

.draggable.checked input[type=text] {
  color:lightgrey;
  text-decoration:line-through;
}
.draggable input[type=checkbox] {
  height:20px;
  width:20px;
  cursor: pointer;
}

.dragging {
  opacity: 0.5;
}